<div class="modal fade text-left" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger white">
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-tree"></i> Confirma a Exclusão</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <input type="text" name="CodigoExcluir" id="CodigoExcluir" hidden>
                <p>Você esta tentando Excluir um Registro</p>
                <div class="alert alert-danger" role="alert">
                    <span class="text-bold-600">Atenção!</span> Confirma a Operação
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Não Excluir</button>
                <button type="button" class="btn btn-outline-danger btn-sim">Excluir o Registro</button>
            </div>
        </div>
    </div>
</div>