<footer class="footer fixed-bottom footer-dark navbar-border">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">
            <span class="black">Copyright &copy; 2019-2020</span> <a class="text-bold-800 black darken-2" href="https://genesissoftware.com.br"
                                     target="_blank">Gênesis Software </a> <span class="black">, All rights reserved.</span>
</span>
        @*<span class="float-md-right d-block d-md-inline-block d-none d-lg-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span>*@
    </p>
</footer>