
@{
    ViewData["Title"] = "Erro500";
    //Layout = "~/Areas/Administrar/Views/Shared/_Layout1.cshtml";
}

@section Styles
{
    <link href="~/Administrar/assets/css/Erros.css" rel="stylesheet" />
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            @if (ViewBag.CodigoErro == "401")
            {<h2>401 - Não Autorizado - Favor Fazer Login para usar o Sistema</h2>}
            else
            { <h2>500 - Ocorreu um erro no sistema, avisar a equipe de suporte</h2>}
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        @if (ViewBag.CodigoErro == "401") {<a asp-controller="Usuario" asp-action="LogOut">Fazer Login</a> }
        else
        {
            <h3>Mensagem de Erro: @ViewBag.Mensagem</h3>
        }

    </div>
</div>