
@{
    ViewData["Title"] = "Erro403";
}
@section Styles
{
    <link href="~/Administrar/assets/css/Erros.css" rel="stylesheet" />
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>Erro 403 Proibido – você não tem permissão para acessar ‘/’ este servidor</h2>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</div>