@{
    ViewData["Title"] = "Erro500";
}


@section Styles
{
    <link href="~/Administrar/assets/css/Erros.css" rel="stylesheet" />
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>Erro 500 Ocorreu um erro no sistema</h2>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h3>Mensagem de Erro: Avisar a equipe de suporte</h3>
    </div>
</div>

