    <!-- Inicio da Footer -->
<footer class="footer-area" style="color:#F38436">
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © <a href="https://genesissoftware.com.br/" target="_blank">Genesis Software</a> 2019. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Final da Footer -->
<script src="~/Principal/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="~/Principal/js/vendor/jquery-1.12.0.min.js"></script>
<script src="~/Principal/js/bootstrap.min.js"></script>
<script src="~/Principal/js/jquery.meanmenu.js"></script>
<script src="~/Principal/js/jquery.magnific-popup.js"></script>
<script src="~/Principal/js/ajax-mail.js"></script>
<script src="~/Principal/js/owl.carousel.min.js"></script>
<script src="~/Principal/js/jquery.mb.YTPlayer.js"></script>
<script src="~/Principal/js/jquery.nicescroll.min.js"></script>
<script src="~/Principal/js/plugins.js"></script>
<script src="~/Principal/js/main.js"></script>
