<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] </title>

<meta name="description" content="">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->
<link rel="stylesheet" href="~/Principal/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Principal/css/animate.css">
<link rel="stylesheet" href="~/Principal/css/meanmenu.css">
<link rel="stylesheet" href="~/Principal/css/magnific-popup.css">
<link rel="stylesheet" href="~/Principal/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/Principal/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Principal/css/et-line-icon.css">
<link rel="stylesheet" href="~/Principal/css/reset.css">
<link rel="stylesheet" href="~/Principal/css/ionicons.min.css">
<link rel="stylesheet" href="~/Principal/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/Principal/css/style.css">
<link rel="stylesheet" href="~/Principal/css/responsive.css">
