
@{
    ViewData["Title"] = "Recebido";
}


<div class="contact-area pt-15 pb-15">
    <div class="container">
        <div class="row" >
            <div class="col-md-4 col-sm-4 col-xs-12"></div>





            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="contact-contents text-center">
                    <div class="single-contact mb-65 ">




                        <div class="alert alert-success border-0 alert-dismissible mb-2" role="alert">

                            <h4 class="alert-heading mb-2">E-Mail Recebido com Sucesso!!</h4>
                            <br />
                            <p>
                                <img src="~/imagens/logo29.gif" />
                                <br />  Em Breve Entraremos em Contato! <br />
                                Enquanto isso, pode conhecer um pouco do nosso <a href="#" class="alert-link">site</a>
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
