@model Genesis.Escola.MVC.Models.CursoViewModel
@using static Genesis.Escola.MVC.Functions.Enumeradores.EnumCurso;
@{
    ViewData["Title"] = "Incluir Curso";
    Layout = "~/Areas/Administrar/Views/Shared/_Layout.cshtml";
}


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home" )">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Páginas</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Curso
                    </li>
                    @{
                        if (Model.Curso.GetHashCode() == EducacaoInfantil.GetHashCode())
                        {
                            Model.Titulo = "Educação Infantil";
                            <li class="breadcrumb-item active">Educação Infantil</li>
                        }
                        else if (Model.Curso.GetHashCode() == EnsinoMedio.GetHashCode())
                        {
                            Model.Titulo = "Ensino Médio";
                            <li class="breadcrumb-item active">Ensino Médio</li>
                        }
                        else if (Model.Curso.GetHashCode() == FundamentalI.GetHashCode())
                        {
                            Model.Titulo = "Ensino Fundamental I";
                            <li class="breadcrumb-item active">Ensino Fundamental I</li>
                        }
                        else if (Model.Curso.GetHashCode() == FundamentalII.GetHashCode())
                        {
                            Model.Titulo = "Ensino Fundamental II";
                            <li class="breadcrumb-item active">Ensino Fundamental II</li>
                        }
                        else
                        {
                            Model.Titulo = "Técnico";
                            <li class="breadcrumb-item active">Técnico</li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header btn-primary ">
        <h4 class="card-title" id="horz-layout-basic">Adicionar Curso</h4>
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
    </div>
    <div class="card-content collpase show">
        <div class="card-body">

            <form asp-action="Incluir">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" class="form-control" type="text" hidden="hidden" />
                <input asp-for="Curso" class="form-control" type="text" hidden="hidden" />
                <input asp-for="Titulo" class="form-control" type="text" hidden="hidden" />
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="Titulo" class="col-form-label"></label>
                        <input asp-for="Titulo" class="form-control input-lg" disabled="disabled" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                </div>

                <div class=“form-group”>
                    <label asp-for="Descricao" class="col-form-label col-md-2"></label>
                    <textarea asp-for="Descricao" class="form-control input-lg textarea-editor" id="FullDescription" rows="200"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <br />
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-icon btn-outline-success waves-effect waves-light width-md" type="submit">  <span>Salvar</span> <i class="mdi mdi-content-save-outline"></i> </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Styles {
    <link href="~/Administrar/app-assets/Summernote/summernote.css" rel="stylesheet" />
}
@section Scripts
{
    <script src="~/Administrar/app-assets/Summernote/summernote.min.js"></script>
    <script src="~/Administrar/app-assets/Summernote/form-summernote.init.js"></script>
}